.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  // .mat-card {
  //   margin: 10px
  // }
  .mat-card-subtitle {
    font-size: larger;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-row {
    align-items: stretch;
  
    .mat-cell {
      display: flex;
      align-items: center;
    }
  }
  
  .mat-column-symbol, .mat-column-comment , .mat-column-codigo {
    max-width: 100px;
  }

  .mat-column-name {
    max-width: 500px;
    margin-right: 15px
  }
  
  .mat-cell.mat-column-comment {
    cursor: pointer;
  }
  
  .add-comment {
    opacity: 0.4;
  }