<mat-card>  
          <mat-card-title>
            Pedido
          </mat-card-title>
          <mat-card-subtitle>
            {{this.idPedido}}
          </mat-card-subtitle>
</mat-card>
<!-- Editable table -->
<div class="card">
  <!-- <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Entrada de albaranes</h3>-->
  <div class="card-body"> 
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Código</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Ctd.Ref.</th>
          <th class="text-center">UM</th>
          <th class="text-center">Cant.</th>
          <th class="text-center">Dif</th>
          <th class="text-center"></th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'codigo', $event)" (blur)="updateList(id, 'codigo', $event)" contenteditable="false">{{person.codigo}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'descripcion', $event)" (blur)="updateList(id, 'descripcion', $event)">{{person.descripcion}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'cantRef', $event)" (blur)="updateList(id, 'cantRef', $event)">{{person.cantRef}}</span>
          </td>
          <td>
              <span contenteditable="false" (keyup)="changeValue(id, 'um', $event)" (blur)="updateList(id, 'um', $event)">{{person.um}}</span>
            </td>
            <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'cant', $event)" (blur)="updateList(id, 'cant', $event)">{{person.cant}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'dif', $event)" (blur)="updateList(id, 'dif', $event)">{{person.dif}}</span>
          </td>
           <!-- <td>
            <span class="table-up">
              <a class="indigo-text">
                <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
              </a>
            </span>
            <span class="table-down">
              <a class="indigo-text">
                <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
              </a>
            </span>
          </td>  -->
          <td>
            <span class="table-remove">
              <!-- <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">B</button> -->
              <!-- <button mat-mini-fab color="accent"  (click)="remove(id)">B</button> -->
              <button mat-icon-button color="warn"  (click)="remove(id)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>  
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
<mat-card>
  <button mat-raised-button (click)="goBack()" >Salir</button> 
  <button mat-raised-button color="accent" (click)="goValidar()" >Validar</button>

</mat-card> 