
    <form >
        <mat-card>  
          <mat-card-title>
            GROS MERCAT FIGUERES
          </mat-card-title>
        <mat-form-field 
        class="example-full-width">
            <mat-label>Tipo movimiento</mat-label>
            <mat-select name="tipoMov" [(ngModel)]=tipoMov>
              <mat-option *ngFor="let mov of movs" [value]="mov.value">
                {{mov.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>


        <mat-form-field class="example-full-width">
          <input matInput placeholder="Documento" name="documento"
          [(ngModel)]="documento">
          
        </mat-form-field>

        <mat-form-field  class="example-full-width">
          <mat-label>Tipo documento</mat-label>
          <mat-select name="tipoDoc" [(ngModel)]=tipoDoc>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Albarán" name="albaran"
            [(ngModel)]="albaran">
            
          </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Observaciones"
          name="observaciones" [(ngModel)]="observaciones"></textarea>
        </mat-form-field>
      </mat-card> 
      <mat-card>
        <button mat-raised-button>Salir</button> 
        <button mat-raised-button color="primary" (click)="goValidacion()" >Posiciones</button>

      </mat-card> 
  
</form>

